/* #root {
    max-width: 1200px;
    margin: auto;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    opacity: 0.8;
    width: 225px;
    height: 335px;
}



.row:after {
    content: "";
    display: table;
    clear: both;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr)) ;
    min-height: 100vh;
    grid-gap: 2rem;
}

.column {
   overflow: hidden; 
}

.column img {
    opacity: 0.8;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.column img:hover {
    transform: scale(1.2);
}