#root {
    max-width: 1200px;
    margin: auto;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    opacity: 0.8;
    width: 225px;
    height: 335px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


#imgtext {
    position: absolute;
    bottom: 15pc;
    left: 15px;
    color: white;
    font-size: 20px;
}
